          
div.box1 {
  width: 35%;
  position: absolute;
  top: 100px;
  left: 450px;
  border-radius: 10%;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 2.19);
  margin-bottom: 25px;
  opacity: 1.0;
}


div.text {
  text-align: center;
  padding: 10px 20px;
}

div.text :hover{
     
    color: whitesmoke;
}



header {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
    font-size: 150%;
    
      
}

ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
    color: whitesmoke;
    font-size: 150%;
    
}

.ft {
    border: none;
    color: wheat;
    text-align: center;
    font-size: 20px;
    cursor: pointer;
    float: center;
    
}

body {
        background-image: url("mainBG.jpg");
        -moz-background-size: cover;
        -webkit-background-size: cover;
        background-size: cover;
        background-position: top center !important;
        background-repeat: no-repeat !important;
        background-attachment: fixed;
}

div.img { 
    max-width: 100%;
    height: auto;
    opacity: 1.5;
    position: absolute;
    top: 0px;
    left: 0px;
}

div.img1 {
    
    position: absolute;
    top: 0px;
    left: 380px;
    float: left;
    width: 180px;
    height: 50px;
}
header {
    list-style-type: none;
    margin: 0;
    left: 0%;
    padding: 0;
    overflow: hidden;
    background-color: #333;
    font-size: 150%;
    position: absolute;
    top: 101px;
    width: 100%;
}
ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
    color: whitesmoke;
    font-size: 150%;
    width: 100%;
    
}
footer{
    float: right;
    color: #99ff99;  
    padding: 14px 16px;
    margin: 0;
}

