<?xml version="1.0" encoding="UTF-8"?>
<web-app version="2.5" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd">
    <context-param>
        <param-name>contextConfigLocation</param-name>
        <param-value>/WEB-INF/applicationContext.xml</param-value>
    </context-param>
    <listener>
        <listener-class>org.springframework.web.context.ContextLoaderListener</listener-class>
    </listener>
    <servlet>
        <servlet-name>dispatcher</servlet-name>
        <servlet-class>org.springframework.web.servlet.DispatcherServlet</servlet-class>
        <load-on-startup>2</load-on-startup>
    </servlet>
    <servlet>
        <servlet-name>ReqController</servlet-name>
        <servlet-class>com.tm.pro.controller.ReqController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>StatusController</servlet-name>
        <servlet-class>com.tm.pro.controller.StatusController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>BookCabController</servlet-name>
        <servlet-class>com.tm.pro.controller.BookCabController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>PaymentController</servlet-name>
        <servlet-class>com.tm.pro.controller.PaymentController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CancelController</servlet-name>
        <servlet-class>com.tm.pro.controller.CancelController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>FeedbackController</servlet-name>
        <servlet-class>com.tm.pro.controller.FeedbackController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AdminLoginController</servlet-name>
        <servlet-class>com.tm.pro.controller.AdminLoginController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AdminUpdateController</servlet-name>
        <servlet-class>com.tm.pro.controller.AdminUpdateController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LogoutController</servlet-name>
        <servlet-class>com.tm.pro.controller.LogoutController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>dispatcher</servlet-name>
        <url-pattern>*.htm</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ReqController</servlet-name>
        <url-pattern>/ReqController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>StatusController</servlet-name>
        <url-pattern>/StatusController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>BookCabController</servlet-name>
        <url-pattern>/BookCabController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>PaymentController</servlet-name>
        <url-pattern>/PaymentController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CancelController</servlet-name>
        <url-pattern>/CancelController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>FeedbackController</servlet-name>
        <url-pattern>/FeedbackController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AdminLoginController</servlet-name>
        <url-pattern>/AdminLoginController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AdminUpdateController</servlet-name>
        <url-pattern>/AdminUpdateController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LogoutController</servlet-name>
        <url-pattern>/LogoutController</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    <welcome-file-list>
        <welcome-file>HomePage.html</welcome-file>
    </welcome-file-list>
</web-app>
